instances:
  - name: uniproxy-04
    replicas: 2
    connections:
      - name: uniproxy-05
        type: http
        url: "http://uniproxy-05.dephealth-uniproxy-2.svc:8080"
        critical: "yes"
        healthPath: "/"
      - name: uniproxy-06
        type: http
        url: "http://uniproxy-06.dephealth-uniproxy-2.svc:8080"
        critical: "yes"
        healthPath: "/"

  - name: uniproxy-05
    replicas: 1
    connections: []

  - name: uniproxy-06
    replicas: 2
    connections:
      - name: uniproxy-07
        type: http
        url: "http://uniproxy-07.dephealth-uniproxy-2.svc:8080"
        critical: "yes"
        healthPath: "/"
      - name: uniproxy-08
        type: http
        url: "http://uniproxy-08.dephealth-uniproxy-2.svc:8080"
        critical: "no"
        healthPath: "/"

  - name: uniproxy-07
    replicas: 1
    connections:
      - name: postgresql
        type: postgres
        url: "postgres://dephealth:dephealth-test-pass@postgresql.dephealth-postgresql.svc:5432/dephealth"
        critical: "yes"

  - name: uniproxy-08
    replicas: 1
    connections:
      - name: postgresql
        type: postgres
        url: "postgres://dephealth:dephealth-test-pass@postgresql.dephealth-postgresql.svc:5432/dephealth"
        critical: "yes"
